<div class="wrapper">
  <ejs-richtexteditor
    id="pasteCleanupRTE"
    #pasteCleanupRTE
    
  >
  </ejs-richtexteditor>
  <div class="description">
    <h3>Current version of text editor is 20.2.50, but it works for the earliest versions as well.</h3>
    <h2>How to reproduce the problem:</h2>
    <ul>
      <li>
        <span> Download our
          <a href="../assets/file-sample_1MB.docx" download> Microsoft Word document</a> 
          with specific feature.
        </span>
      </li>
      <li>
        <span>Open it and make sure you see the feature what allows you to collapse and expand some parts of the text</span>
        <img class="image" src="../assets/1.png" alt="collapsed" srcset="">
        <img class="image" src="../assets/2.png" alt="expand" srcset="">
      </li>
      <li><span>Select and copy content (you can remove images from the text if you want)</span></li>
      <li><span>Open the browser console \ devtools</span></li>
      <li><span>Paste copied text to the text editor above </span></li>
      <li><span>Text editor displays text with side effects. It is impossible to collapse and expand the text. Images doesn't copied and errors in the console are.</span></li>
    </ul>
    <div>
      <img class="image result" src="../assets/3.png" alt="result" srcset="">
    </div>
    <div>
      <h2>Regarging to the link from email:</h2> <p>https://stackblitz.com/edit/angular-zqduma?file=app.component.html,app.component.ts</p>
      <h3>After making the same manipulation we have next result:</h3>
      <p>
        <img class="image result" src="../assets/4.png" alt="result 2" srcset="">
      </p>
    </div>
  </div>
</div>
